/* Main Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color:  #6dbccc;
}
h1 {
    margin: 2rem;
    color: #fff;
    font-weight: 700;
}
li {
    list-style: none;
}
.btn-light {
    background-color: #f1f1f1;
    transition: all .5s ease;
}
.btn-light:hover {
    background-color: #212529;
    border-color: #212529;
    color: #fff;
}

/* Input Container Styles */
#inputContainer {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    width: 500px;
}
#inputContainer input {
    
    padding: .75rem;
    outline: none;
    box-shadow: none;
}
#inputContainer button {
    padding: .75rem 1.25rem;
}
#categorieInput{
    border-left: 2px solid #00000047;
    border-right: none;
    border-top: none;
    border-bottom: none;
}


/* ToDo List Item Styles */
div.list-container {
    margin: .5rem;
    width: 450px;
    padding: 2rem 0;
}
div.list-container h2 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}
div.list-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}
div.list-container ul li.item-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: .75rem 1.5rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
div.list-container ul li.item-div p {
    margin-bottom: 0;
    min-width: 200px;
}
.form-check-input {
    font-size: 1.5rem;
    margin: 0;
}



/* Edit Item/Task */
.edit-user-task-input {
    width: 200px;
}

/* Filter */
#categorieFilter {
    margin-bottom: 1rem;
    width: 225px;
}